<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>HTML5/CSS3图片选择动画 可选择多张图片DEMO演示</title>

    <link rel="stylesheet" href="/static/css/style2.css" media="screen"/>

</head>

<body>

  <div class="clearfix">
  <button class="select">&nbsp;</button>
  <h1>select your photo - yusi123.com</h1>
  <button class="send " data-counter="0">&#10004;</button>
</div>
<div style="text-align:center;clear:both">

</div>
  <form action="" method="post">
<ul>
  <li><img src="/static/image/4.jpg" price="10" name="img"></li>
  <li><img src="/static/image/5.jpg" name="img"></li>
  <li><img src="/static/image/6.jpg" name="img"></li>
  <li><img src="/static/image/7.jpg" name="img"></li>
</ul>
      <input type="submit" value="我要兑换">
  </form>

  <script src='/static/js/jquery.min.js'></script>

  <script src="/static/js/index.js"></script>

</body>

</html>